<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   wordList.plist
   chineseWordPuzzle

   Created by Alvis Poon on 12/7/2020.
   Copyright (c) 2020 Alvis Poon. All rights reserved.
-->
<plist version="1.0">
    <dict>
    <key>words</key>
        
    <array>
        <array>
            <array>
                <string></string>
                <string>輪船</string>
            </array>
            <array>
                <string></string>
                <string>警車</string>
            </array>
            <array>
                <string></string>
                <string>消防車</string>
            </array>
            <array>
                <string></string>
                <string>港鐵</string>
            </array>
            <array>
                <string></string>
                <string>直升機</string>
            </array>
            <array>
                <string></string>
                <string>單車</string>
            </array>
            <array>
                <string></string>
                <string>救護車</string>
            </array>
            <array>
                <string></string>
                <string>飛機</string>
            </array>
        </array>
        <array>
           <array>
                <string></string>
                <string>公雞</string>
            </array>
            <array>
                <string></string>
                <string>袋鼠</string>
            </array>
            <array>
                 <string></string>
                 <string>猴子</string>
             </array>
             <array>
                 <string></string>
                 <string>長頸鹿</string>
             </array>
              <array>
                  <string></string>
                  <string>熊貓</string>
              </array>
              <array>
                  <string></string>
                  <string>河馬</string>
              </array>
              <array>
                  <string></string>
                  <string>松鼠</string>
              </array>
                <array>
                    <string></string>
                    <string>斑馬</string>
                </array>
                <array>
                    <string></string>
                    <string>老虎</string>
                </array>
              <array>
                  <string></string>
                  <string>老鼠</string>
              </array>
                <array>
                    <string></string>
                    <string>白熊</string>
                </array>
                <array>
                    <string></string>
                    <string>獅子</string>
                </array>
              <array>
                  <string></string>
                  <string>大象</string>
              </array>
              <array>
                  <string></string>
                  <string>鴨</string>
              </array>
              <array>
                  <string></string>
                  <string>鵝</string>
              </array>
              <array>
                  <string></string>
                  <string>蜜蜂</string>
              </array>
              <array>
                  <string></string>
                  <string>蝴蝶</string>
              </array>
              <array>
                  <string></string>
                  <string>蜻蜓</string>
              </array>
              <array>
                  <string></string>
                  <string>飛蛾</string>
              </array>
              <array>
                  <string></string>
                  <string>毛蟲</string>
              </array>
         </array>
        <array>
            <array>
                <string></string>
                <string>企鵝</string>
            </array>
            <array>
                <string></string>
                <string>白鴿</string>
            </array>
            <array>
                <string></string>
                <string>天鵝</string>
            </array>
            <array>
                <string></string>
                <string>貓頭鷹</string>
            </array>
            <array>
                <string></string>
                <string>孔雀</string>
            </array>
            <array>
                <string></string>
                <string>金魚</string>
            </array>
            <array>
                <string></string>
                <string>鯊魚</string>
            </array>
            <array>
                <string></string>
                <string>海馬</string>
            </array>
            <array>
                <string></string>
                <string>蟹</string>
            </array>
              <array>
                  <string></string>
                  <string>鯨魚</string>
              </array>
              <array>
                  <string></string>
                  <string>海豚</string>
              </array>
              <array>
                  <string></string>
                  <string>海龜</string>
              </array>
              <array>
                  <string></string>
                  <string>水母</string>
              </array>
              <array>
                  <string></string>
                  <string>蝦</string>
              </array>
              <array>
                  <string></string>
                  <string>青蛙</string>
              </array>
        </array>
        <array>
            <array>
                <string></string>
                <string>蘋果</string>
            </array>
            <array>
                <string></string>
                <string>葡萄</string>
            </array>
            <array>
                <string></string>
                <string>草莓</string>
            </array>
            <array>
                <string></string>
                <string>藍莓</string>
            </array>
            <array>
                <string></string>
                <string>桃</string>
            </array>
            <array>
                <string></string>
                <string>奇異果</string>
            </array>
            <array>
                <string></string>
                <string>橙</string>
            </array>
              <array>
                  <string></string>
                  <string>西瓜</string>
              </array>
              <array>
                  <string></string>
                  <string>芒果</string>
              </array>
              <array>
                  <string></string>
                  <string>菠蘿</string>
              </array>
        </array>
        
        <array>
            <array>
                <string></string>
                <string>薯仔</string>
            </array>
            <array>
                <string></string>
                <string>西蘭花</string>
            </array>
            <array>
                <string></string>
                <string>蕃茄</string>
            </array>
            <array>
                <string></string>
                <string>雞蛋</string>
            </array>
            <array>
                <string></string>
                <string>粟米</string>
            </array>
            <array>
                <string></string>
                <string>南瓜</string>
            </array>
            <array>
                <string></string>
                <string>餅乾</string>
            </array>
              <array>
                  <string></string>
                  <string>三文治</string>
              </array>
              <array>
                  <string></string>
                  <string>麵包</string>
              </array>
              <array>
                  <string></string>
                  <string>雪糕</string>
              </array>
              <array>
                  <string></string>
                  <string>果汁</string>
              </array>
              <array>
                  <string></string>
                  <string>麵條</string>
              </array>
                <array>
                    <string></string>
                    <string>飯</string>
                </array>
                
                
                
              
        </array>
        
        <array>
            <array>
                <string></string>
                <string>毛巾</string>
            </array>
            <array>
                <string></string>
                <string>牙刷</string>
            </array>
            <array>
                <string></string>
                <string>碗</string>
            </array>
            <array>
                <string></string>
                <string>桌子</string>
            </array>
            <array>
                <string></string>
                <string>筷子</string>
            </array>
            <array>
                <string></string>
                <string>湯匙</string>
            </array>
            <array>
                <string></string>
                <string>椅子</string>
            </array>
              <array>
                  <string></string>
                  <string>手錶</string>
              </array>
              <array>
                  <string></string>
                  <string>風扇</string>
              </array>
              <array>
                  <string></string>
                  <string>杯子</string>
              </array>
                <array>
                    <string></string>
                    <string>電話</string>
                </array>
                <array>
                    <string></string>
                    <string>電視機</string>
                </array>
                <array>
                    <string></string>
                    <string>相機</string>
                </array>
                  <array>
                      <string></string>
                      <string>時鐘</string>
                  </array>
                  <array>
                      <string></string>
                      <string>雨傘</string>
                  </array>

                <array>
                    <string></string>
                    <string>洗衣機</string>
                </array>
                  <array>
                      <string></string>
                      <string>床</string>
                  </array>
                  <array>
                      <string></string>
                      <string>沙發</string>
                  </array>
        </array>
        
        <array>
            <array>
                <string></string>
                <string>長褲</string>
            </array>
            <array>
                <string></string>
                <string>短褲</string>
            </array>
            <array>
                <string></string>
                <string>毛衣</string>
            </array>
            <array>
                <string></string>
                <string>外套</string>
            </array>
            <array>
                <string></string>
                <string>裙</string>
            </array>
            <array>
                <string></string>
                <string>帽</string>
            </array>
            <array>
                <string></string>
                <string>睡衣</string>
            </array>
              <array>
                  <string></string>
                  <string>襪子</string>
              </array>
              <array>
                  <string></string>
                  <string>手套</string>
              </array>
              <array>
                  <string></string>
                  <string>風衣</string>
              </array>
              <array>
                  <string></string>
                  <string>襯衣</string>
              </array>
              <array>
                  <string></string>
                  <string>運動服</string>
              </array>
              <array>
                  <string></string>
                  <string>鞋</string>
              </array>
              <array>
                  <string></string>
                  <string>雨衣</string>
              </array>
              <array>
                  <string></string>
                  <string>校服</string>
              </array>
              <array>
                  <string></string>
                  <string>泳衣</string>
              </array>

                
                
              
              
        </array>
        
        <array>
            <array>
                <string></string>
                <string>玩具車</string>
            </array>
            <array>
                <string></string>
                <string>積木</string>
            </array>
            <array>
                <string></string>
                <string>風箏</string>
            </array>
            <array>
                <string></string>
                <string>足球</string>
            </array>
            <array>
                <string></string>
                <string>布娃娃</string>
            </array>
            <array>
                <string></string>
                <string>拼圖</string>
            </array>
            <array>
                <string></string>
                <string>蹺蹺板</string>
            </array>
              <array>
                  <string></string>
                  <string>滑板車</string>
              </array>
              <array>
                  <string></string>
                  <string>氣球</string>
              </array>
              <array>
                  <string></string>
                  <string>滑梯</string>
              </array>
              <array>
                  <string></string>
                  <string>鞦韆</string>
                </array>

              
              
              
        </array>
        <array>
            <array>
                <string></string>
                <string>紅色</string>
            </array>
            <array>
                <string></string>
                <string>綠色</string>
            </array>
            <array>
                <string></string>
                <string>紫色</string>
            </array>
            <array>
                <string></string>
                <string>黃色</string>
            </array>
            <array>
                <string></string>
                <string>藍色</string>
            </array>
            <array>
                <string></string>
                <string>橙色</string>
            </array>
            <array>
                <string></string>
                <string>黑色</string>
            </array>
              <array>
                  <string></string>
                  <string>白色</string>
              </array>
              <array>
                  <string></string>
                  <string>灰色</string>
              </array>
              <array>
                  <string></string>
                  <string>啡色</string>
              </array>
               
        </array>
        <array>
            <array>
                <string></string>
                <string>耳朵</string>
            </array>
            <array>
                <string></string>
                <string>嘴巴</string>
            </array>
            <array>
                <string></string>
                <string>鼻子</string>
            </array>
            <array>
                <string></string>
                <string>牙齒</string>
            </array>
            <array>
                <string></string>
                <string>肚子</string>
            </array>
            <array>
                <string></string>
                <string>手指</string>
            </array>
            <array>
                <string></string>
                <string>指甲</string>
            </array>
              <array>
                  <string></string>
                  <string>腳</string>
              </array>
        </array>
        <array>
            <array>
                <string></string>
                <string>爺爺</string>
            </array>
            <array>
                <string></string>
                <string>嫲嫲</string>
            </array>
            <array>
                <string></string>
                <string>叔叔</string>
            </array>
            <array>
                <string></string>
                <string>姨姨</string>
            </array>
            <array>
                <string></string>
                <string>公公</string>
            </array>
            <array>
                <string></string>
                <string>婆婆</string>
            </array>

        </array>
        
        <array>
        <array>
            <string></string>
            <string>中秋節</string>
        </array>
          <array>
              <string></string>
              <string>端午節</string>
          </array>
          <array>
              <string></string>
              <string>聖誕節</string>
          </array>
          <array>
              <string></string>
              <string>新年</string>
          </array>
           <array>
               <string></string>
               <string>假期</string>
           </array>
        
    </array>
        
        <array>
            <array>
                <string></string>
                <string>快慢</string>
            </array>
            <array>
                <string></string>
                <string>高矮</string>
            </array>
            <array>
                <string></string>
                <string>輕重</string>
            </array>
            <array>
                <string></string>
                <string>長短</string>
            </array>
            <array>
                <string></string>
                <string>老幼</string>
            </array>
            <array>
                <string></string>
                <string>冷熱</string>
            </array>
            <array>
                <string></string>
                <string>胖瘦</string>
            </array>
              <array>
                  <string></string>
                  <string>多少</string>
              </array>
    
              
        </array>
        <array>
            <array>
                <string></string>
                <string>跑步</string>
            </array>
            <array>
                <string></string>
                <string>跳舞</string>
            </array>
            <array>
                <string></string>
                <string>唱歌</string>
            </array>
            <array>
                <string></string>
                <string>吃飯</string>
            </array>
            <array>
                <string></string>
                <string>喝水</string>
            </array>
            <array>
                <string></string>
                <string>寫字</string>
            </array>
            <array>
                <string></string>
                <string>讀書</string>
            </array>
              <array>
                  <string></string>
                  <string>睡覺</string>
              </array>
              <array>
                  <string></string>
                  <string>踢足球</string>
              </array>
              <array>
                  <string></string>
                  <string>畫畫</string>
              </array>
                <array>
                    <string></string>
                    <string>跳繩</string>
                </array>
                <array>
                    <string></string>
                    <string>走路</string>
                </array>
                <array>
                    <string></string>
                    <string>大哭</string>
                </array>
                  <array>
                      <string></string>
                      <string>大笑</string>
                  </array>
                  <array>
                      <string></string>
                      <string>說故事</string>
                  </array>
                  <array>
                      <string></string>
                      <string>坐下</string>
                  </array>
                    <array>
                        <string></string>
                        <string>生病</string>
                    </array>
        </array>
        
        <array>
            <array>
                <string></string>
                <string>冷熱</string>
            </array>
            <array>
                <string></string>
                <string>快樂</string>
            </array>
            <array>
                <string></string>
                <string>高興</string>
            </array>
            <array>
                <string></string>
                <string>傷心</string>
            </array>
            <array>
                <string></string>
                <string>勇敢</string>
            </array>
            <array>
                <string></string>
                <string>健康</string>
            </array>
        </array>
        <array>
            <array>
                <string></string>
                <string>市場</string>
            </array>
            <array>
                <string></string>
                <string>公園</string>
            </array>
            <array>
                <string></string>
                <string>沙灘</string>
            </array>
            <array>
                <string></string>
                <string>醫院</string>
            </array>
            <array>
                <string></string>
                <string>警察局</string>
            </array>
            <array>
                <string></string>
                <string>圖書館</string>
            </array>
            <array>
                <string></string>
                <string>便利店</string>
            </array>
              <array>
                  <string></string>
                  <string>書店</string>
              </array>
              <array>
                  <string></string>
                  <string>郵局</string>
              </array>
              <array>
                  <string></string>
                  <string>學校</string>
              </array>
              <array>
                  <string></string>
                  <string>街市</string>
              </array>
              <array>
                  <string></string>
                  <string>街道</string>
              </array>
              <array>
                  <string></string>
                  <string>遊樂場</string>
              </array>
                
        </array>
        <array>
            <array>
                <string></string>
                <string>太陽</string>
            </array>
            <array>
                <string></string>
                <string>月亮</string>
            </array>
            <array>
                <string></string>
                <string>星星</string>
            </array>
            <array>
                <string></string>
                <string>白雲</string>
            </array>
            <array>
                <string></string>
                <string>彩虹</string>
            </array>
            <array>
                <string></string>
                <string>閃電</string>
            </array>
            <array>
                <string></string>
                <string>雷電</string>
            </array>
              <array>
                  <string></string>
                  <string>河流</string>
              </array>
              <array>
                  <string></string>
                  <string>地球</string>
              </array>
              <array>
                  <string></string>
                  <string>高山</string>
              </array>
                <array>
                    <string></string>
                    <string>春天</string>
                </array>
                 <array>
                     <string></string>
                     <string>夏天</string>
                 </array>
                 <array>
                     <string></string>
                     <string>秋天</string>
                 </array>
                   <array>
                       <string></string>
                       <string>冬天</string>
                   </array>
                    <array>
                        <string></string>
                        <string>下雪</string>
                    </array>
                 
                 
              
        </array>

        
    </array>
    </dict>
</plist>
